portrange: 1-65535
outputformat: json
outputfile: recon.json
debug: false
threads: 10
plugins:
  portscans:
    - nmap-tcp-all
    - nmap-tcp-top
    - nmap-udp-top
  servicescans:
    - whatweb
    - dirbuster
    - enum4linux
    - nikto
    - nmap-ftp
    - nmap-smb
messaging:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    exchange: gorecon
    sender: true
    receiver: true